

  <div class="w-full shadow-2xl">
    <div class="bg-black border-b pt-2 flex justify-around ">
        <p class="text-xl text-white font-semibold">AK CRM</p>
        <p>|</p>
        <p class="text-gray-400 text-sm pt-2">Simple</p>

    </div>
    <div class="p-2 space-y-2">
        <div class="space-y-2" >
            <h4 class="text-gray-400">Sales</h4>
            <div class="">
                <div class="flex p-1 text-gray-700  space-x-4 0 hover:bg-gray-50 hover:text-blue-600  cursor-pointer  ">
                    <mat-icon>dashboard</mat-icon>
                    <span class=" text-gray-600 pt-1"  >Dashbord</span>
                </div>
            </div>
            <div class="">
                <div class="flex  p-1 text-gray-700  space-x-4 0 hover:bg-gray-50 hover:text-blue-600  cursor-pointer  ">
                    <mat-icon>layers</mat-icon>
                    <span class=" text-gray-600  pt-1"  >Lead</span>
                </div>
            </div>
            <div class="">
                <div class="flex  p-1 text-gray-700  space-x-4 0 hover:bg-gray-50 hover:text-blue-600  cursor-pointer  ">
                    <mat-icon>assessment</mat-icon>
                    <span class=" text-gray-600  pt-1"  >Opportunity</span>
                </div>
            </div>
            <div class="">
                <div class="flex  p-1  text-gray-700  space-x-4 0 hover:bg-gray-50 hover:text-blue-600  cursor-pointer  ">
                    <mat-icon>receipt</mat-icon>
                    <span class=" text-gray-600 pt-1"  >Quote</span>
                </div>
            </div>
            <div class="">
                <div class="flex  p-1 text-gray-700  space-x-4 0 hover:bg-gray-50 hover:text-blue-600  cursor-pointer  ">
                    <mat-icon>attach_money</mat-icon>
                    <span class=" text-gray-600 pt-1"  >Order</span>
                </div>
            </div>

        </div>
        <div class="space-y-2" >
            <h4 class="text-gray-400  pt-2">Business</h4>
            <div class="">
                <div class="flex  p-1 text-gray-700  space-x-4 0 hover:bg-gray-50 hover:text-blue-600  cursor-pointer  ">
                    <mat-icon>business</mat-icon>
                    <span class=" text-gray-600 pt-1"  >Company</span>
                </div>
            </div>
            <div class="">
                <div class="flex  p-1 text-gray-700  space-x-4 0 hover:bg-gray-50 hover:text-blue-600  cursor-pointer  ">
                    <mat-icon>person</mat-icon>
                    <span class=" text-gray-600 pt-1"  >Contact</span>
                </div>
            </div>
            <div class="">
                <div class="flex  p-1 text-gray-700  space-x-4 0 hover:bg-gray-50 hover:text-blue-600  cursor-pointer  ">
                    <mat-icon>ballot </mat-icon>
                    <span class=" text-gray-600 pt-1"  >Item</span>
                </div>
            </div>

        </div>
        <div class="space-y-2" >
            <h4 class="text-gray-400 pt-2">
                Setting    </h4>
            <div class="">
                <div class="flex  p-1  text-gray-700  space-x-4 0 hover:bg-gray-50 hover:text-blue-600  cursor-pointer  ">
                    <mat-icon>vertical_split </mat-icon>
                    <span class=" text-gray-600 pt-1"  >Master</span>
                </div>
            </div>
            <div class="">
                <div class="flex  p-1  text-gray-700  space-x-4 0 hover:bg-gray-50 hover:text-blue-600  cursor-pointer  ">
                    <mat-icon>people</mat-icon>
                    <span class=" text-gray-600 pt-1"  >User</span>
                </div>
            </div>
            <div class="">
                <div class="flex  p-1  text-gray-700  space-x-4 0 hover:bg-gray-50 hover:text-blue-600  cursor-pointer  ">
                    <mat-icon>build</mat-icon>
                    <span class=" text-gray-600 pt-1"  >Role</span>
                </div>
            </div>
        </div>
    </div>

</div>
